body{
  background-color: gray;
}


.board-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    border: 1px solid #999;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: lightgray
}
.square:hover{
    background-color: #f0f0f0;
}
.board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}
h1{
  font-size: 50px;
}
.playAgain{
  border-radius: 30px;
  border: none;
  margin: 10px;
}
.playAgain:hover{
  background-color: #b7b7b7;
  cursor: pointer;
}
h2{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;

}
h5{
  font-size: 30px;
}

.square.empty {
  cursor: pointer;
}

.square.filled {
  cursor: default;
}

.turn-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.X{
  font-size: 50px;
  padding-left: 20px;
  padding-top: 15px;
}
.O{
  font-size: 50px;
  padding-right: 20px;
  text-align: right;
  padding-top: 15px;
}